body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../media/img/backgrundAccess.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    width: 512px;
    padding: 2rem;
    border: 6px solid #ffffff20;
    border-radius:32px;
    text-align: center;
    background-color: #ffffff20;
    backdrop-filter: blur(8px);
}

h2{
    font-size: 2rem;
    margin: 0;
}

.shield{
    width: 128px;
    height: 128px;
}

.shieldText{
    height: 64px;
}

a{
    color: #0bf;
    transition: 0.25s ease;
}

a:hover{
    color: #fff;
}

div{
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

.input{
    width: 95%;
    font-size:20px;
    padding: 0.5rem;
}

.send{
    background-color: #286181;
    color: #fff;
    font-weight: bolder;
    font-size: 24px;
    padding: 0.5rem 2rem;
    transition: 0.25s ease;
}

.send:hover{
    background-color: #fff;
    color: #0bf;
}

/* Para crear cuenta */
.long{
    width: 1024px;
}

.divLong{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row p{
    flex-basis: calc(33.33%);
    padding: 0 2rem;
}