.main{
    max-width: 1620px;
    margin: 2rem auto;
}

.main hr{
    width: 90%;
    margin-bottom: 1rem;
    border: #fff 2px solid;
    position: relative;
    top: 2.75rem;
    z-index: 0;
}

.spliter{
    font-size: 2rem;
    font-weight: bold;
    background-color: #000;
    position: relative;
    z-index: 1;
    width: max-content;
    margin: 0 auto;
    padding: 0 1rem;
}

.main article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main article div{
    min-height: 128px;
    max-width: 384px;
    margin: 1rem;
    padding: 1rem;
    max-width: 384px;
    border: #888 4px solid;
    border-radius: 16px;
    transition: 0.25s ease;
}

.main article div h3, .main article div p{
    margin: 0;
    margin-bottom: 0.5rem;
}

.main article div:hover{
    border: #0bf 4px solid;
    box-shadow: #0bf 0 0 16px;
}

.main article div img{
    width: 100%;
    border: #ddd 2px solid;
    z-index: 0;
}

.main article div form{
    display: flex;
    flex-direction: column;
}

.main article div form button{
    color: #fff;
    font-size: 1.5rem;
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: #00bbffdd;
    border: 2px #0bf solid;
    border-radius: 16px;
    width: 192px;
    margin: 0 auto;
}