.info{
    max-width: 1652px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.info hr{
    width: 90%;
    margin-bottom: 1rem;
    border: #fff 2px solid;
    position: relative;
    top: 2.75rem;
    z-index: 0;
}

.spliter{
    font-size: 2rem;
    font-weight: bold;
    background-color: #000;
    position: relative;
    z-index: 1;
    width: max-content;
    margin: 0 auto;
    padding: 0 1rem;
}

.info article{
    width: 1080px;
    margin: 0 auto;
}

.info article h3{
    margin: 0;
    font-size: 1.5rem;
}

.info article p{
    margin: 0;
    margin-bottom: 2rem;
}