
header img{
    float: right;
    padding: 15px;
}
header h1{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    display: flex;
    margin-left: 50px;
    color: #fff;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 100px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 98;
}

header article{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    margin: 0 auto;
    position: sticky;
    top: 96px;
    border: #0bf 2px solid;
    width: 97.5%;
    border-radius: 8px;
    z-index: 100;
}

header .short{
    flex: 0;
}

header .long{
    flex: 1;
}

header article img {
    height: 100%;
    padding: 1rem 1.5rem;
}

header article .imgSmall{
    height: 56px;
}

header .long ul{
    list-style: none;
    display: flex;
}

header .long ul li{
    padding: 1rem;
}

a{
    color: #0bf;
    text-decoration: none;
    size: 24px;
    transition: 0.25s ease;
}

a:hover{
    color: #fff;
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer div{
    height: 128px;
    margin: 2rem;
}

footer img{
    height: 80%;
}

.hidden{
    display: none;
}
section{
    height: 400;
    width: 100%;
    background-color:rgb(7, 9, 10) ;
    display: flex;
    justify-content: center;
    align-items: center;

}
section article{
    background-color:rgb(7, 12, 14) ;
    height: 100px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: double;

}
section aside{
    background-color:rgb(3, 7, 8) ;
    height:75%;
    width:20%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(19, 12, 12);
    border-style: double;
}
section article p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: unset;
    font-size: medium;
}


